
.password-title {
  font-size: 30px;
  font-weight: 700;

}

.form-container{
  border: 2px black;
  width: 500px;
  height: 700px;
  margin-left: 35%;
  border-radius: 20px;
  padding-top: 160px;
  //background-color: orange;
}

.find-form {
  border-right: 40px;
  padding-left: 40px;
  height: 500px;
  padding-top: 30px;
  border-radius: 20px;
  border-color: #b7b7b7;
  background-color: white;
}
.email-input, .newpassword-input {
  margin-left: 10px;
  border-color: #b7b7b7;
  width: 150px;
}
.newpw .newpassword-input{
  height: 35px;
  margin-left: 45px;
  border-radius: 5px;
}


//비밀번호 변경하기 버튼
.changebtn{
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  border-color: #1e4fff;
  background-color: #1e4fff;
  color: white;
}
