.join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fafafa;

  .top-wrapper {
    //padding-top: 135px;
    top: 10%;
    width: 100%;
    background-image: url("../../../src_assets/login-background.png");
    background-size: 100%;
    height: 400px;

    .logo {
      padding-top: 57px;
      width: 37px;
      margin-bottom: 15px;
    }

    .main-title {
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
      font-family: 'IBM Plex Mono', sans-serif !important;
      font-size: 18px;
      line-height: 1.3;
    }
  }
  .background{
    background-color: #fafafa;
    width: 100%;
    height: 750px;
  }

  //글쓰기 폼 영역
  .form-wrapper {
    position: absolute;
    top: 26.5%;
    width: 600px;
    height: 760px;
    padding: 60px 23px 30px;
    background-color: white;
    border-radius: 11px;
    box-shadow: 2px 4px 4px 2px rgba(115, 115, 115, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-img{
      width: 135px;
      height: 135px;
      border-radius: 100px;
    }
    .profile-img-text{
      margin-top: 8px;
      color : #949494;
      font-size: 13.5px;
      font-weight: 500;
      margin-bottom: 35px;
    }

    //아이디 input
    .input-pw,
    .input-email,
    .input-pwcheck,
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      .id,
      {
        width: 82%;
      }
      .pw,
      .pw-check {
        width: 100%;
      }
    }


    .input-email{
      margin-bottom: 35px;

      .email-input,
      .email-select{
        width: 40.5%;
      }
    }

    .input-detail{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 120px;

      .name,
      .career,
      .birth,
      .nickname{
        margin-bottom: 10px;
      }
    }
  }

  //가입 완료 버튼
  .submit-btn{
    width: 100%;
    font-size: 15px;
    padding: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #1e4fff;
    color: white;
  }
  .submit-btn:hover{
    transition: 0.1s;
    //border: 1px solid #1e4fff;
    //background-color: white;
    background-color: rgba(30, 79, 255, 0.8);
    //color: whi;
  }
}

//버튼 공통영역
.pw,
.email-input,
.pw-check,
.nickname,
.email-select,
.name,
.career,
.birth,
.position-select
{
  border-radius: 6px;
  border: solid 1.1px #e6e6e6;
  padding: 10px 13px;
  outline-color: #e6e6e6;
}

.check-btn{
  background-color: white;
  width: 17%;
  padding: 12px 20px;
  border-radius: 5.3px;
  border: solid 1px #1e4fff;
  color: #1e4fff;
  font-size: 14px;
  font-weight: 600;
}
.check-btn:hover{
  transition: 0.2s;
  background-color: #1e4fff;
  color: white;
  //box-shadow: 0px 0px 2px 2px rgba(131, 131, 132, 0.3);
}