.join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fafafa;

  .top-wrapper {
    //padding-top: 135px;
    top: 10%;
    width: 100%;
    background-image: url("../../../src_assets/login-background.png");
    background-size: 100%;
    height: 400px;

    .logo {
      padding-top: 57px;
      width: 37px;
      margin-bottom: 15px;
    }

    .main-title {
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
      font-family: 'IBM Plex Mono', sans-serif !important;
      font-size: 18px;
      line-height: 1.3;
    }
  }

  .background {
    background-color: #fafafa;
    width: 100%;
    height: 1000px;
  }

  //글쓰기 폼 영역
  .form-wrapper {
    position: absolute;
    top: 22.5%;
    width: 600px;
    //height: 900px;
    padding: 60px 23px 30px;
    background-color: white;
    border-radius: 11px;
    box-shadow: 2px 4px 4px 2px rgba(115, 115, 115, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-img {
      width: 135px;
      height: 135px;
      border-radius: 100px;
      margin: 0 auto;
    }

    .signup-img-label {
      color: #949494;
      font-size: 13.5px;
      font-weight: 500;
      margin: 8px auto 35px;
    }

    //아이디 input
    .input-pw,
    .input-pwcheck,
    {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      position: relative;


      .id,
      {
        width: 82%;
      }

      .pw,
      .pw-check {
        width: 100%;
      }


    }



    .input-email {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5px;

      .email-input,
      .email-select {
        width: 40.5%;
      }
    }

    .input-detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      position: relative;

      .input-name,
      .input-nickname{
        display: flex;
        flex-direction: column;
        position: relative;
      }

      //닉네임 중복확인
      .input-nickname{
        .nickname-wrapper{
          display: flex;
          justify-content: space-between;

          .nickname{
            width: 82%;
          }
          .check-nickName{
            background-color: white;
            width: 17%;
            padding: 12px 20px;
            border-radius: 5.3px;
            color: #1E4FFF;
            font-size: 14px;
            font-weight: 600;
            border: solid 1px #1E4FFF;
          }

          .check-nickName:hover{
            transition: 0.3s;
            background-color: #1E4FFF;
            width: 17%;
            padding: 12px 20px;
            border-radius: 5.3px;
            color: white;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .check{
          color: #1e4fff;
          font-size: 18px;
          position: absolute;
          right: 110px;
          top: 30%;
          transform: translateY(-50%);
        }
      }

      .input-name{
        .check{
          top: 50%;
        }
      }
      //.name,
      .career,
      .birth
      {
        margin-bottom: 10px;
      }

      .name {
        margin-top: 35px;
      }
    }

    .email-certification-wrapper{
      margin: 10px 0 25px;
      display: flex;
      //flex-direction: column;
      //align-items: center;

      padding: 10px;
      border-radius: 5px;

      .email-check-btn{
        border: none;
        width: 80px;
        height: 36px;
        //padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 5px;
      }
      .email-check-btn:hover{

      }
      //이메일 인증
      .check-email-wrapper {
        //width: 100%;
        padding: 5px 5px;
        //margin-top: 5px;
        //margin-bottom: 25px;
        //background-color: rgb(230,230,230);
        align-items: center;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .email-text{
          text-align: center;
          font-size: 14px;
          margin-bottom: 20px;
        }

        .check-email-input {
          //margin-left: 10px;
          text-align: center;
          padding: 5px 10px;
          width: 140px;
          height: 30px;
          outline: none;
          border-bottom: solid 1px #e6e6e6;
          background-color: rgb(255,255,255);
          border-top: none;
          border-left: none;
          border-right: none;
          //margin-bottom: 5px;
          margin-right: 10px;
          font-size: 17px;

        }

        .check-email-input::placeholder{
          text-align: center;
        }

        .confirm-check-email {
          color: #292834;
          padding: 0 10px;
          background-color: #c8c8c8;
          border: none;
          border-radius: 3px;
          height: 30px;
          font-size: 15px;
        }

        .end-code-email{
          cursor: none;
          text-decoration: line-through;
          background-color: white;
          border: solid 1px #828282;
        }

        .confirm-check-email:hover {
          transition: 0.3s;
          color: white;
          padding: 0 10px;
          background-color: #828282;
          border: none;
          border-radius: 3px;
          height: 30px;
          font-size: 15px;
        }
      }
    }

  }

  //가입 완료 버튼
  .submit-btn {
    width: 100%;
    font-size: 15px;
    padding: 13px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #1e4fff;
    color: white;
  }

  .submit-btn:hover {
    transition: 0.1s;
    background-color: rgba(30, 79, 255, 0.8);
  }
}

//버튼 공통영역
.pw,
.email-input,
.pw-check,
.nickname,
.email-select,
.name,
.career,
.birth,
.position-select {
  border-radius: 6px;
  border: solid 1.1px #e6e6e6;
  padding: 10px 13px;
  outline-color: #e6e6e6;
}
//.position-select{
//  padding-right: 20px;
//}
.check-btn{
  background-color: white;
  width: 17%;
  padding: 12px 20px;
  border-radius: 5.3px;
  border: solid 1px #1e4fff;
  color: #1e4fff;
  font-size: 14px;
  font-weight: 600;

  .endCheck-email{
    text-decoration: line-through;
    color: #828282;
  }
}



.check-btn:hover {
  transition: 0.2s;
  background-color: #1e4fff;
  color: white;
  //box-shadow: 0px 0px 2px 2px rgba(131, 131, 132, 0.3);
}

//입력값 검증 공통 영역
.correct{
  padding-top: 7px;
  padding-left: 13px;
  font-size: 15px;
  color: #1e4fff;
  margin-bottom: 10px;
}
.not-correct{
  padding-top: 7px;
  padding-left: 13px;
  font-size: 15px;
  color: #ff2828;
  margin-bottom: 10px;
}

.check{
  color: #1e4fff;
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 30%;
  transform: translateY(-50%);
}
.endCheck-btn{
   background-color: white;
   width: 17%;
   padding: 12px 20px;
   border-radius: 5.3px;
   color: #828282;
   font-size: 14px;
   font-weight: 600;
   border: solid 1px #828282;
 }

@media (max-width: 1024px) {
  .join-wrapper .top-wrapper .logo{
    padding-top: 0;
  }

  .join-wrapper .form-wrapper{
    top: 22%;
    width: 580px;
  }

  .join-wrapper .background{
    height: 900px;
  }
}



@media (max-width: 414px) {

  .join-wrapper {

    height: 1100px;

    .form-wrapper {
      top: 50px;
      width: 100%;
      height: fit-content;
      box-shadow: none;

      // 중복확인 버튼
      .check-btn {
        padding: 0;
        height: 45px;
        font-size: 12px;
      }

      .signup-img-label {
        margin: 10px 0;
      }

    }
  }
}
