.project-write-wrapper {
  padding: 160px 370px 0;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }

  .write-form-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .title-input-wrapper {
      display: flex;
      align-items: center;

      .title-text-input {
        height: 40px;
        padding: 5px 10px;
        width: 96%;
        border-radius: 8px;
        border: solid 1px #e6e6e6;;
      }
    }

    .select-input-wrapper {
      margin-top: 15px;
      display: flex;

    }
  }

  //input 공통영역
  .project-type,
  .personnel,
  .offerPeriod {
    display: flex;
    margin-right: 15px;
    align-items: center;
  }

  .sub-title {
    font-size: 16px;
    margin-right: 10px;
    width: fit-content;
  }

  .title-text-input,
  .subject-select,
  .career-select,
  .current-text-input,
  .mentee-text-input {
    width: fit-content;
    height: 40px;
    padding: 10px 10px;
    //width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
  }

  .boardContent {
    margin-top: 16px;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    resize: none;
  }

  .btn-wrapper {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: none;

    .close-btn-a{
      height: 42px;
    }

    .close-btn,
    .submit-btn {
      border: none;
      width: 160px;
      height: 42px;
      border-radius: 100px;
      margin-bottom: 50px;
    }

    .close-btn {
      width: 160px;
      margin-right: 10px;
    }

    .submit-btn {
      color: white;
      background-color: #1e4fff;
    }
  }

}

// file
$img-w: 100px;
$img-h: 100px;

.thumbnail-box {
  width: $img-w;
  height: $img-h;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
.signup-img-label {
  font-weight: 700;
  font-size: 17px;
  color: #0095f6;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}