.project-list-wrapper{
  padding: 35px 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  //화살표 아이콘
  .less-icon,
  .than-icon {
    position: absolute;
    width: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  .less-icon:hover,
  .than-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.1);
    border-radius: 50px;
  }

  .less-icon {
    left: 1%;
  }

  .than-icon {
    right: 1%;
  }

.sort-title {
  width: 966px;
  height: 72px;
  flex-grow: 0;
  margin: 119px 23px 11px 67px;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.project-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.project-list {
  width: 365px;
  height: 400px;
  flex-grow: 0;
  margin: 0 20.8px 0 65px;
  padding: 29.3px 20px 32.8px 23.9px;
  border-radius: 13px;
  border: solid 1px #d4d4d4;
  background-color: #fff;
  &:hover {
    cursor: pointer;
  }

  .text-title {
    width: 316px;
    height: 34.1px;
    flex-grow: 0;
    margin: 0 3.9px 16.4px 1.3px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: #000;
  }

  .text-content {
    width: 316px;
    height: 68.2px;
    flex-grow: 0;
    margin: 16.4px 5.2px 5px 0;
    font-size: 15px;
    text-align: left;
    color: #000;
  }

  .project-type {
    width: 72.8px;
    height: 17.7px;
    flex-grow: 0;
    margin: 5px 202.2px 18.6px 1.1px;
    padding: 3.2px 14.3px 3.2px 14px;
    background-color: rgba(30, 79, 255, 0.1);

    font-size: 10px;
    text-align: left;
    color: #000;
  }

  .project-completion {
    width: 316px;
    height: 20.5px;
    flex-grow: 0;
    margin: 18.6px 4.2px 0.2px 1px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #446dfe;
  }
  .project-like-btn {
    width: 70px;
    height: 27px;
    flex-grow: 0;
    margin: -21px 0 0 202.2px;
    padding: 4px 8px 0 7px;
    border-radius: 50px;
    background-color: #446dfe;
    color: #fff;

    &:hover {
      background-color: #6b77f6;
    }
  }

  .project-new-box {
    width: 45px;
    height: 20px;
    flex-grow: 0;
    margin: -185.7px 9px 0 252.2px;
    padding: 0 8px 0 7px;
    border-radius: 50px;
    background-color: #446dfe;

    color: #fff;
  }
}

}