.project-write-wrapper {
  padding: 160px 370px 0;

  .write-form-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .title-input-wrapper {
      display: flex;
      align-items: center;

      .title-text-input {
        height: 40px;
        padding: 5px 10px;
        width: 96%;
        border-radius: 8px;
        border: solid 1px #e6e6e6;;
      }
    }

    .select-input-wrapper {
      margin-top: 15px;
      display: flex;

    }
  }

  //input 공통영역
  .project-type,
  .applicant,
  .offerPeriod {
    display: flex;
    margin-right: 15px;
    align-items: center;
  }

  .sub-title {
    font-size: 16px;
    margin-right: 10px;
    width: fit-content;
  }

  .title-text-input,
  .subject-select,
  .career-select,
  .current-text-input,
  .mentee-text-input {
    width: fit-content;
    height: 40px;
    padding: 10px 10px;
    //width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
  }

  .boardContent {
    margin-top: 16px;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    resize: none;
  }

  .btn-wrapper {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: none;

    .close-btn-a{
      height: 42px;
    }

    .close-btn,
    .submit-btn {
      border: none;
      width: 160px;
      height: 42px;
      border-radius: 100px;
      margin-bottom: 50px;
    }

    .close-btn {
      width: 160px;
      margin-right: 10px;
    }

    .submit-btn {
      color: white;
      background-color: #1e4fff;
    }
  }

}
.thumbnail-box {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin: 30px auto 10px;
  cursor: pointer;
  text-align: center;

  img {
    max-width: 1000px;
    max-height: 800px;
    overflow: hidden;
  }
}

.signup-img-label {
  font-weight: 700;
  font-size: 17px;
  color: #0095f6;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .project-write-wrapper{
    padding: 80px 100px;
  }

  .thumbnail-box img{
    width: 170px;
    max-width: 500px;
    max-height: 400px;
  }

  .signup-img-label{
    font-size: 14px;
  }
  .thumbnail-box{
    margin-bottom: 5px;
  }

  .project-write-wrapper .write-form-wrapper .title-input-wrapper .title-text-input{
    width: 95%;
  }
}