// 작성하기 btn
.projects-write-btn {
  position: relative;
  left: 73%;
  top: 75px;
  padding: 13px 30px;
  background-color: #292834;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  z-index: 1;
}

.project-list-wrapper {
  padding: 35px 370px 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  //화살표 아이콘
  .less-icon,
  .than-icon {
    position: absolute;
    width: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  .less-icon:hover,
  .than-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.1);
    border-radius: 50px;
  }

  .less-icon {
    left: 16%;
  }

  .than-icon {
    right: 16%;
  }

  .sort-title {
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 0;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #292834;
  }

  .project-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-list {
    width: 365px;
    height: 400px;
    flex-grow: 0;
    margin: 0 10px 30px;
    padding: 27px 20px 32.8px 20px;
    border-radius: 13px;
    background-color: #f0f0f0;

    &:hover {
      cursor: pointer;
    }

    .text-title {
      width: 316px;
      height: 55px;
      flex-grow: 0;
      margin: 10px 3.9px 7px 1.3px;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      color: #000;
      word-break: break-all;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .text-content {
      height: 60px;
      flex-grow: 0;
      overflow-wrap: break-word;
      font-size: 14px;
      text-align: left;
      color: #000;
      margin-bottom: 5px;
      position: relative;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .project-type {
      text-align: center;
      width: fit-content;
      border-radius: 26px;
      flex-grow: 0;
      padding: 6px 13px;
      background-color: #292834;
      color: #ffffff;

      .type-text {
        font-size: 15px;
      }
    }

    .project-completion {
      width: 316px;
      height: 20.5px;
      flex-grow: 0;
      margin: 10px 4.2px 0.2px 1px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      color: #446dfe;
    }

    .project-like-btn {
      width: 70px;
      height: 27px;
      flex-grow: 0;
      margin: -25px 0 0 250px;
      padding: 4px 8px 0 7px;
      border-radius: 50px;
      background-color: #446dfe;
      color: #fff;

      &:hover {
        background-color: #6b77f6;
      }
    }

    .project-new-box {
      position: absolute;
      right: 13px;
      top: 10px;
      padding: 1px 10px;
      border-radius: 50px;
      background-color: rgba(68, 109, 254, 0.7);
      font-size: 14px;
      color: #fff;
    }
  }

  .project-wrapper {
    position: relative;

    .project-img-wrapper {
      overflow: hidden;
      height: 150px;
    }

    .project-img {
      width: 100%;

    }
  }

  .project-list:nth-child(3n+1) {
    margin-left: 0;
  }

  .project-list:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .project-list-wrapper {
    padding: 0px 100px 50px;
  }

  .project-list-wrapper .sort-title {
    font-size: 27px;
  }
  .projects-write-btn {
    padding: 12px 25px;
    font-size: 16px;
    left: 79.7%;
    top: 40px;
  }

  .project-list-wrapper .project-wrapper .project-img-wrapper {
    height: 120px;
  }

  .project-list-wrapper .project-list .text-title {
    height: 45px;
    width: fit-content;
    font-size: 16px;
  }
  .project-list-wrapper .project-list .text-content {
    font-size: 14px;
    height: 46px;
  }

  .project-list-wrapper .project-list .project-type .type-text {
    font-size: 11.5px;
  }

  .project-list-wrapper .project-list .project-completion {
    font-size: 16px;
  }

  .project-list-wrapper .project-list .project-like-btn {
    //width: fit-content;
    margin: -25px 0 0 160px;
    font-size: 14px;
    height: 25px;
    width: 65px;
  }

  .project-list-wrapper .project-list {
    width: 260px;
    padding: 23px 17px 29.8px 17px;
    height: 335px;
  }
}

@media (max-width: 414px) {
  .project-list-wrapper {
    padding: 35px 20px 50px;
  }
  .project-list-wrapper .project-wrapper{
    margin: 0;
  }
  .project-list-wrapper .project-list-container {
    grid-template-columns: none;
    margin: 0 10px;
  }
  .project-list-wrapper .project-list:nth-child(3n) {
  }

  .projects-write-btn {
    left: 74%;
    transform: translateX(-50%);
    top: 0px;
  }


  .sort-title {
    font-size: 24px;
  }

  .project-list-wrapper .project-list {
    width: 336px;
    height: auto;
    margin: 0 0 30px;
    padding: 27px 15px 32.8px 15px;

    .text-title {
      width: 100%;
      margin: 10px 0.8px 7px 0.2px;
      font-size: 18px;
      height: fit-content;
    }

    .text-content {
      height: auto;
      margin-bottom: 5px;
    }

    .project-like-btn {
      height: fit-content;
      width: fit-content;
      text-align: right;
      position: relative;
      bottom: -18px;
      margin: -43px 0px 0px 252px;
      padding: 5px 10px;
    }
  }

  /* 추가된 스타일 */
  .project-list-container {
    grid-template-columns: 1fr;
  }

  .project-list {
    width: 100%;
    margin: 0 0 30px;
  }

  .project-sort-list {
    padding: 10px;
    margin: 39px auto 0;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 50px;
    width: fit-content;
    text-align: center;

    .btn {
      margin: 0 5px;
      width: fit-content;
      height: fit-content;
      font-size: 15px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      background-color: #446dfe;
      color: white;
      font-weight: 550;
    }
  }
}