@mixin content-center {
  display: flex;
  justify-content: center;
}

.projects-view-wrapper {
  padding: 160px 370px 0;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;

    flex-grow: 0;
    text-align: left;
    color: #000;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }
}

