.project-search-wrapper{
  padding: 45px 370px 35px;
  display: flex;
  justify-content: start;
  align-items: end;

  .search-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 5px 0 10px;
    border-radius: 6px;

    .input-search{
      width: 650px;
      border-radius: 5px;
      padding: 10px 10px;
      border: none;
      background-color: #f0f0f0;
      outline: none;


    }
    .input-search::placeholder {
      text-align: left;
    }

    .search-icon{
      width: 14px;

    }
  }

  .search-btn{
    display: inline-block;
    padding: 7px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    background-color: #292834;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    }
}
