@mixin content-center {
  display: flex;
  justify-content: center;
}

.projects-view-wrapper {
  padding-left: 370px;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    width: 1180px;
    height: 62px;
    flex-grow: 0;
    font-size: 43px;
    font-weight: 700;
    padding-top: 160px;
  }

  .main-sub-title {
    width: 1180px;
    height: 39px;
    flex-grow: 0;
    margin: 62px 0 0;
    font-size: 16px;
    font-weight: 500;
  }
}

.projects-write-btn{
  position: absolute;
  left: 74.5%;
  top: 44.5%;
  padding: 13px 30px;
  background-color: #292834;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  z-index: 1;
}

.sort-button-box {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
  }
}
