.modal-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    //background-color: #f0f0f0;
    background-color: #dee2e6;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    font-weight: 550;
    margin: 1px 5px;
    position: relative;

    .modal-header {
      display: block;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      margin: 20px 20px 0 20px;

      .close {
        color: #282c37;
        font-size: 18px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding-bottom: 10px;

        position: absolute;
        right: 10px;
        top: 10px;
      }

      .modal-title {
        font-size: 30px;
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        background-color: #b3b3b3;
        color: #282c37;
        padding: 10px 20px;
        border-radius: 10px;
        line-height: 1.6;
      }
    }

    .modal-body {
      padding-bottom: 20px;
      color: #282c37;
      margin: 0 20px;
      text-align: center;

      .deadline {
        font-size: 25px;
        margin: 15px 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: sans-serif;
        font-weight: lighter;

        .timer {
          font-size: 30px;
          font-weight: 100;
          color: white;
          padding: 10px;
          width: 200px;
          background: #34314c;
          border-radius: 10px;
          border: 2px solid #34314c;
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            color: #ffffff;
            font-size: 15px;
            font-weight: 400;
            margin-top: 5px;
          }
        }

      }

      .applicant-box {
        margin: 15px auto;
        display: block;
        text-align: center;
        //justify-content: space-between;

        .front-box {
          margin-bottom: 10px;
        }

        .position-img {
          margin-right: 10px;
          height: 80px;
        }
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      color: #282c37;

      .project-type {
        font-weight: 550;
        font-size: 17px;
      }

      .footer-left {
        text-align: left;
        display: flex;

        .detail-btn {
          border-radius: 5px;
          border: none;
          background-color: #4f78ff;
          width: fit-content;
          height: 38px;
          margin-right: 15px;
          padding: 0 12px;
          font-size: 15px;
          font-weight: bold;
          align-items: center;
          display: flex;
          cursor: pointer;

          &:hover {
            background-color: #3051d0;
          }
        }

        .like {
          border: none;
          margin-right: 15px;
          font-size: 15px;
          align-items: center;
          display: flex;
          cursor: pointer;
        }
      }

      .footer-right {
        .btn {
          margin-left: 10px;
          padding: 5px 10px;
        }
      }

      .btn {
        font-weight: bold;
        color: #282c37;
        background-color: #4f78ff;
        border-color: #4f78ff;

        &:hover {
          background-color: #3051d0;
        }
      }
    }
  }
}

// 버튼
.quick-btn {
  cursor: pointer;
  position: relative;
  left: 30px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  align-items: center;
  text-align: center;
  line-height: 22px;
  background-color: #446dfe;
  border-color: #446dfe;
  animation: blinking 1.5s infinite;
  padding: 7px 20px;
  border-radius: 5px;

  &:hover,
  &:active {
    animation: none;
  }

  @keyframes blinking {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .quick-btn {
    font-size: 17px;
    left: 20px;
    padding: 5px 15px;
  }
}

@media (max-width: 414px) {
  .modal-box .modal-container {
    width: 340px;
  }
  .modal-box .modal-container .modal-header .modal-title {
    font-size: 25px;
    padding: 5px;
  }
  .modal-box .modal-container .modal-body .deadline{
    width: fit-content;
    margin:10px  auto  20px;
  }
  .modal-box .modal-container .modal-body .deadline .timer {
    font-size: 20px;
    width: fit-content;
    margin: 5px;
    display: inline;
    padding:10px 10px;
  }
  .modal-box .modal-container .modal-body .applicant-box .position-img {
    height: 70px;
  }

  .modal-box .modal-container .modal-footer .footer-left .detail-btn ,
  .modal-box .modal-container .modal-footer .footer-right .btn{
    height: fit-content;
    padding: 5px;
  }
  .quick-btn {
    animation: none;
    left: -100px;
    font-weight: 600;
    top: 22px;
    padding: 11px 13px
  }

}