@mixin content-center {
  display: flex;
  justify-content: center;
}


.review-detail-wrapper {
  padding: 160px 370px 50px;
  color: #292834;

  .title-wrapper {
    position: relative;
    .main-title {
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
      font-family: 'IBM Plex Mono', sans-serif !important;
      font-size: 43.2px;
      font-weight: 600;
      letter-spacing: -1.5px;
      text-align: center;
    }

    .main-sub-title {
      font-size: 16px;
      margin-top: 10px;
      text-align: center;
    }

    .back-btn {
      position: absolute;
      bottom: 0px;
      left: 130px;
      text-decoration: none;

      .back-icon {
        width: 30px;
      }
      .back-text{
        margin-left: 5px;
        //font-weight: 300;
        text-decoration: none;
        color: #292834;
        //font-size: 14px;
      }
    }
  }
  //메인 컨텐츠 section
  .main-text-wrapper {
    margin: 37px auto;
    width: 80%;
    padding: 70px 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: solid 1px #d9d9d9;

    .review-title {
      text-align: center;
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 50px;
    }

    .info-detail-container {
      width: 100%;
      display: flex;
      //justify-content: space-between;
      padding-bottom: 17px;
      border-bottom: 1px solid #828282;
      //align-items: end;

      .info-wrapper, {
        //width: 200px;
        margin-right: auto;
      }

      .rating{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .rating-title{
          font-size: 20px;
          color: #1e4fff;
          font-weight: 600;
        }

        .star {
          //padding: 1px;
          margin-top: 10px;
          font-size: 27px;
          color: #fec700;
        }
      }

      .detail-wrapper {
        //width: 200px;
        margin-left: auto;
      }
      //수정,삭제 버튼
      .modify-btn,
      .delete-btn
      {
        color: #828282;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
        cursor: pointer;
        text-decoration: none;
      }
      .modify-btn{
        margin-right: 8px;
      }
      .modify-btn:hover{
        //font-weight: 600;
      }

      //아이콘(댓글,조회수)
      .icon-wrapper {
        font-size: 16px;
        display: flex;
        justify-content: start;

        .view-count-wrapper {
          margin-right: 10px;
        }

        .view-count-icon,
        .speech-count-icon {
          width: 16px;
          margin-right: 3px;
        }

      }
    }

    //메인 content영역
    .main-content{
      margin-top: 40px;
      font-size: 17px;
      padding: 0 15px;
      line-height: 1.4;
      min-height: 360px;
      max-height: 360px;
      width: 100%;
    }

    //채택버튼
    .checked-wrapper{
      width: 100%;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;


      .checked,
      .not-checked{
        margin-top: 6px;
        width: 140px;
        height: 40px;
        border-radius: 50px;
        border: none;
        color: white;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
      .checked{
        background-color: #1e4fff;
      }
      .not-checked{
        background-color: #828282;
      }
    }
  }

  //상단 디테일 공통영역
  .category {
    display: flex;
    font-size: 17px;
    margin-bottom: 12px;
    //padding-right: 10px;


    .sub-title {
      width: 57px;
      font-size: 16px;
      font-weight: 600;
      margin-right: 8px;
    }

    .sub-content {
      font-weight: 400;
      font-size: 16px;
    }
  }


}
