.review-write-wrapper {
  padding: 160px 370px 0;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }

  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //margin-bottom: 10px;
  .write-form-wrapper {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    //flex-direction: row;
    width: 100%;

    .sub-title {
      width: 41.5px;
    }

    .title-text-input {
      height: 40px;
      width: 95.6%;
      border-radius: 8px;
      border: solid 1px #e6e6e6;
      padding: 10px 10px;

      //width: 100%;
    }
  }

  //회사 상세정보
  .review-company-detail {
    display: flex;
    //justify-content: start;
    width: 100%;

    //상세정보 공통 영역
    .input-company-name,
    .input-company-job,
    .input-company-tenure,
    .input-company-location {
      align-items: center;
      //justify-content: start;
      display: flex;
      position: relative;
      //width: 20%;
      margin-right: 20px;

      .detail-text-input {
        height: 40px;
        //padding: 5px 10px;
        width: 200px;
        border-radius: 8px;
        border: solid 1px #e6e6e6;
        padding: 10px 10px;
      }
      .tenure-text-input{
        height: 40px;
        //padding: 5px 10px;
        width: 55px;
        border-radius: 8px;
        border: solid 1px #e6e6e6;
        padding: 10px 10px;
      }

      .fix-text{
        position: absolute;
        right: 10px;
      }
    }


  }

  //내용 작성 영역
  .content-wrapper {
    position: relative;
    .star-rating-wrapper{
      position: absolute;
      bottom: 7%;
      left: 50%;
      transform: translateX(-50%);
      border: 0.5px solid #dcdcdc;
      padding: 10px 15px 5px;
      border-radius: 5px;
      justify-content: center;
      display: flex;
      flex-direction: column;


      .css-70qvj9{
        justify-content: center;
      }

      .star-rating-title{
        font-size: 14px;
        text-align: center;
      }

      .css-iljtu2-MuiRating-root {
        align-items: center;
        justify-content: center;
        font-size: 35px;
        margin-top: 5px;
      }
    }

  }

  //input 공통영역
  .sub-title {
    //width: 55px;
    font-size: 16px;
    margin-right: 10px;
    width: fit-content;
  }


  .content {
    margin-top: 16px;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    resize: none;
  }

  .btn-wrapper {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: none;

    .close-btn-a {
      height: 42px;
    }

    .close-btn,
    .submit-btn {
      border: none;
      width: 160px;
      height: 42px;
      border-radius: 100px;
      margin-bottom: 50px;
    }

    .close-btn {
      width: 160px;
      margin-right: 10px;
    }

    .submit-btn {
      color: white;
      background-color: #1e4fff;
    }
  }

}

@media (max-width: 1024px) {
  .review-write-wrapper{
    padding: 130px 100px 0;
    //height: 650px;
  }
  .review-write-wrapper .main-title{
    font-size: 38px;
  }
  .review-write-wrapper .main-sub-title{
    font-size: 14px;
    margin-top: 5px;
  }
  .review-write-wrapper .review-company-detail .input-company-name .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-job .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-tenure .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-location .detail-text-input{
    width: 130px;
  }
}
@media (max-width: 414px){
  .review-write-wrapper{
    padding: 10px;
  }
  .review-write-wrapper .review-company-detail{
    font-size: 13px;
    margin: 3px 0;
    display: contents;

  }
  .review-write-wrapper .review-company-detail .input-company-name, .review-write-wrapper .review-company-detail .input-company-job, .review-write-wrapper .review-company-detail .input-company-tenure, .review-write-wrapper .review-company-detail .input-company-location{

  }
  .review-write-wrapper .review-company-detail .input-company-name .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-job .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-tenure .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-location .detail-text-input{
    width: 150px;
    font-size: 13px;
    margin-left: 15px;
    height: 30px;
    margin-bottom: 10px;
  }
  .review-write-wrapper .review-company-detail .input-company-job .detail-text-input,
  .review-write-wrapper .review-company-detail .input-company-location .detail-text-input{
    margin-left: 25px;

  }
  .review-write-wrapper .review-company-detail .input-company-name .tenure-text-input, .review-write-wrapper .review-company-detail .input-company-job .tenure-text-input, .review-write-wrapper .review-company-detail .input-company-tenure .tenure-text-input, .review-write-wrapper .review-company-detail .input-company-location .tenure-text-input{
    width: 80px;
    margin-left: 3px;
    height: 30px;
  }
  .review-write-wrapper .review-company-detail .input-company-name .fix-text, .review-write-wrapper .review-company-detail .input-company-job .fix-text, .review-write-wrapper .review-company-detail .input-company-tenure .fix-text, .review-write-wrapper .review-company-detail .input-company-location .fix-text{
    right: 0px;
    left: 120px;
  }
  .review-write-wrapper .sub-title{
    font-size: 13px;
  }
  .review-write-wrapper .content{
    min-height: 200px;
    font-size: 13px;
  }
  .review-write-wrapper .content-wrapper .star-rating-wrapper{
    height: 50px;

  }
  .review-write-wrapper .content-wrapper .star-rating-wrapper .star-rating-title{
    font-size: 13px;
  }
  .review-write-wrapper .content-wrapper .star-rating-wrapper .css-iljtu2-MuiRating-root{
    font-size: 20px;
  }
  .review-write-wrapper .btn-wrapper .close-btn{
    font-size: 13px;
    width: 130px;
    height: 30px;
  }
  .review-write-wrapper .btn-wrapper .submit-btn{
    font-size: 13px;
    width: 130px;
    height: 30px;
    margin-bottom: 30px;
  }
  .review-write-wrapper .main-title{
    font-size: 24px;
    padding-top: 100px;

  }
  .title-wrapper{
    height: 200px;
    //margin-bottom: 20px;
  }
  .review-write-wrapper .write-form-wrapper .title-text-input{
    height: 30px;
    font-size: 13px;
  }
  .review-write-wrapper .write-form-wrapper{
    margin-top: 0px;
  }


}

