@mixin content-center {
  display: flex;
  justify-content: center;
}


.qna-detail-wrapper {
  padding: 160px 370px 50px;
  color: #292834;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }

  //메인 컨텐츠 section
  .main-text-wrapper {
    margin: 37px auto;
    width: 80%;
    padding: 50px 110px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: solid 1px #d9d9d9;

    .qna-title {
      text-align: center;
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 36px;
    }

    .info-detail-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      //align-items: end;

      //세부 정보 section
      .info-wrapper {
        display: flex;
        flex-direction: column;
      }
    }

    //메인 content영역
    .main-content{
      margin-top: 80px;
      font-size: 17px;
      padding: 0 25px;
      line-height: 1.4;
      min-height: 360px;
      max-height: 360px;
    }

    //채택버튼
    .checked-wrapper{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .check-title{
        font-size: 14px;
        font-weight: 600;
      }
      .check-btn{
        margin-top: 6px;
        width: 140px;
        height: 40px;
        border-radius: 50px;
        background-color: #1e4fff;
        border: none;
        color: white;
        font-weight: 600;
      }
      .check-btn:hover{
        box-shadow: 0px 0px 2px 2px rgba(30, 79, 255, 0.3);
        transition: 0.3s;
      }
    }
  }

  //상단 디테일 공통영역
  .category {
    display: flex;
    font-size: 17px;
    margin-bottom: 12px;

    .sub-title {
      font-weight: 600;
      margin-right: 8px;
    }

    .sub-content {
      font-weight: 400;
    }
  }
}