@mixin content-center {
  display: flex;
  justify-content: center;
}

.qna-view-wrapper {
  padding: 160px 370px 0;

  .main-title {
    @import url('https://fonts.googleapis.com/css?family=IBM2+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }

  //TOP조회수 영역
  .top-view-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    //박스 wrapper 공통영역
    .top-section-one,
    .top-section-two,
    .top-section-three {
      @include content-center;
      flex-direction: column;
      margin-top: 40px;


      //조회수 타이틀
      .top-section-title {
        font-size: 19px;
        font-weight: 600;
        color: #1e4fff;
        text-align: center;

      }

      //개별 박스 공통영역
      .top-section-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        padding: 18px 25px 23px;
        width: 350px;
        height: 180px;
        background: white;
        border-radius: 15px;
        border: solid 1px #d9d9d9;

        .checked,
        .not-checked {
          width: 145px;
          height: 28px;
          font-weight: 600;
          font-size: 17px;
          @include content-center;
          align-items: center;
          color: white;
          border-radius: 5px;
          margin-bottom: 13px;
        }

        .checked {
          background: #1e4fff;
        }

        .not-checked {
          background: #828282;
        }

        .qna-title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .qna-content {
          font-size: 13px;
          line-height: 1.2;
          margin-bottom: 15px;
          min-height: 30px;
        }

        //아이콘 영역
        .icon-wrapper {
          font-size: 14px;
          @include content-center;

          .speech-count-wrapper{
            display: flex;
            align-items: center;
          }

          .view-count-wrapper {
            margin-right: 10px;
          }

          .view-count-icon,
          .speech-count-icon {
            width: 15px;
            margin-right: 3px;
          }

        }
      }
    }
    .detail-link{
      text-decoration: none;
      color: #292834;
    }
  }
}


@media (max-width: 1024px) {

  .qna-view-wrapper{
    padding: 130px 100px 0;
  }
  .qna-view-wrapper .top-view-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
    .qna-view-wrapper .top-view-wrapper .top-section-one {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 35px;
    }
      .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-title,
       .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-title,
        .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-title {
        font-size: 14px;
      }
      .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper{
        margin-top: 5px;
        padding: 18px 25px 23px;
        width: 250px;
        height: 140px;
      }
      .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .checked,
       .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .not-checked,
        .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-wrapper .checked,
         .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-wrapper .not-checked,
          .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-wrapper .checked,
           .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-wrapper .not-checked {
        width: 130px;
        height: 20px;
        font-size: 14px;
        border-radius: 5px;
        margin-bottom: 11px;
    }
    .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .qna-title{
      font-size: 17px;
      margin-bottom: 10px;
    }
    .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .qna-content{
      font-size: 11px;
      line-height: 1.2;
      margin-bottom: 8px;
      min-height: 20px;
    }
    .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .icon-wrapper{
      font-size: 11px;
    }

}


@media (max-width: 414px) {
  .qna-view-wrapper {
    font-size: 12px;
    //width: 414px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-title{
    padding-top: 150px;
  }
  .top-view-wrapper {
    width: 414px;

  }
  .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper, .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-wrapper, .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-wrapper{
    width: 100px;
    height: 50px;
    font-size: 10px;

  }
  .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .checked, .qna-view-wrapper .top-view-wrapper .top-section-one .top-section-wrapper .not-checked, .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-wrapper .checked, .qna-view-wrapper .top-view-wrapper .top-section-two .top-section-wrapper .not-checked, .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-wrapper .checked, .qna-view-wrapper .top-view-wrapper .top-section-three .top-section-wrapper .not-checked {
//display: none;
  }

}





