.qna-write-wrapper {
  padding: 160px 370px 0;

  .main-title {
    //@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    //font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 600;
    //letter-spacing: -1.5px;
  }

  .main-sub-title {
    font-size: 16px;
    margin-top: 10px;
  }

  .write-form-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .title-input-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .title-text-input {
        height: 40px;
        //padding: 5px 10px;
        width: 94%;
        border-radius: 8px;
        border: solid 1px #e6e6e6;
        padding: 10px 10px;

        //width: 100%;
      }
    }

    .hashtag-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  //input 공통영역
  .sub-title {
    font-size: 16px;
    margin-right: 10px;
    width: fit-content;
  }

  .title-text-input {

  }

  .content {
    margin-top: 16px;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    resize: none;
  }

  .btn-wrapper {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    border: none;

    .close-btn-a {
      height: 42px;
    }

    .close-btn,
    .submit-btn {
      border: none;
      width: 160px;
      height: 42px;
      border-radius: 100px;
      margin-bottom: 50px;
    }

    .close-btn {
      width: 160px;
      margin-right: 10px;
    }

    .submit-btn {
      color: white;
      background-color: #1e4fff;
    }
  }

}

@import "@yaireo/tagify/dist/tagify.css";
.tags-input {
  background-color: white;
  width: 94%;
  border-radius: 8px;
  border: solid 1px #e6e6e6;
  padding: 2px 0px;

  .tagify {
    border: none;
    padding: 0 3px;
    --tag-bg: #1e4fff;
    --tag-text-color: white;
    --tag-text-color--edit: var(--tag-bg);
    --tag-hover: #1e4fff;
    --tag-remove-btn-color: white;
    --tag-remove-bg: #b7b7b7;

    .tagify__tag {
      --tag-border-radius: 50px;
      padding-right: 7px;
      padding-left: 7px;
    }

    .tagify__tag__removeBtn {
      background-color: #292834;
    }

    .tagify__tag__removeBtn:hover {
      //--tag-hover: #75cb1e !important;
    }


  }
}

.--tag-hover {
  //background-color: #292834 !important;
}

@media (max-width: 414px) {
  .qna-write-wrapper {
    padding: 10px;
  }
  .title-wrapper {
    font-size: 13px;
    margin-top: 0px;
  }
  .qna-write-wrapper .write-form-wrapper {
    font-size: 13px;
  }
  .qna-write-wrapper .write-form-wrapper .title-input-wrapper .title-text-input{
    width: 250px;
    margin-right: 30px;

  }
  .tags-input{
    width: 250px;
    margin-right: 30px;
  }
  .qna-write-wrapper .content{
    min-height: 200px;
  }
  .qna-write-wrapper .main-title{
    font-size: 24px;
  }
  .qna-write-wrapper .main-sub-title{
    font-size: 13px;
  }
  .qna-write-wrapper .btn-wrapper .close-btn{
    width: 100px;
    height: 25px;
  }
  .qna-write-wrapper .btn-wrapper .submit-btn{
    width: 100px;
    height: 25px;
  }


}