@mixin content-center {
  display: flex;
  justify-content: center;
}

.mentors-chat-wrapper {
  //padding: 35px 370px 50px;
  padding: 135px 370px 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;


  .mentor-detail-wrapper {
    margin-right: 10px;
    width: 500px;
    background-color: #f0f0f0;
    padding: 30px;
    color: #292834;
    border-radius: 22px;
    border: none;
    display: flex;
    flex-direction: column;
    position: relative;

    .top-section {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 35px;

      .top-title {
        display: flex;
        align-items: baseline;

        .top-title-text {
          font-size: 19.5px !important;
          font-weight: 600;
        }

        .writer-wrapper {
          display: flex;
          margin-left: 14px;
          font-size: 13px;
          font-weight: 600;
          color: #828282;
  
          .modify-btn {
            margin-right: 7px;
            cursor: pointer;
            color: #828282;
            text-decoration: none;
          }
          .delete-btn{
            cursor: pointer;
          }
        }

        .write-date {
          margin-left: 10px;
          font-size: 13px;
        }
      }

      .close-btn {
        font-size: 17.5px;
      }
    }

    //writer section
    .writer-section {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c6c6c6;
      padding-bottom: 15px;

      .detail-profile-img {
        background-image: url("../../../src_assets/IMG_4525.JPG");
        background-size: 112px;
        width: 120px;
        height: 120px;
        border-radius: 200px;
        margin-right: 17px;
      }

      .writer-text-wrapper {
        display: flex;
        flex-direction: column;
        color: #292834;

        .detail-writer {
          font-size: 17px;
          color: #1e4fff;
          margin-bottom: 5.5px;
          font-weight: 600;
        }

        .detail-sub-title {
          font-size: 14.5px;
          margin-bottom: 8.5px;
        }

        .etc-wrapper {
          padding-bottom: 5px;
          display: flex;
          flex-direction: column;
          font-size: 12px;

          .detail-sub-text {
            margin-right: 8px;
            color: #969696;
            display: inline-block;
          }
        }

        .etc-wrapper div:not(.current) {
          padding-bottom: 5px;
        }

        // 확정 멘티 리스트

        .mentee-wrapper {

          display: flex;
          max-height: 300px;

          .mentee-title {
            padding-bottom: 5px;
            font-size: 12px;
            color: #969696;
          }

          .mentee {
            font-size: 12px;
            align-items: center;
          }

        }
      }



    }

    // main section
    .main-section {
      padding: 22px 10px 0px;
      margin-bottom: 42px;
      min-height: 370px;
      overflow: auto;

      .main-section-text {
        white-space: pre-wrap;
        word-break: break-all;
        font-size: 17px;
        line-height: 1.5;
      }
    }

    //application section
    .btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: start;
    }

    .mentor-back-room {
      border: none;
      font-size: 17px;
      color: white;
      width: 135px;
      height: 35px;
      border-radius: 5px;
      background-color: #292834;
      display: none;
    }

    .application-btn {
      pointer-events: none;
      border: none;
      font-size: 17px;
      color: white;
      width: 135px;
      height: 35px;
      border-radius: 5px;
      background-color: #292834;
    }
    .back-icon {
      width: 27px;
      position: absolute;
      top: -25px;
    }
  }

  //채팅부분
  .mentor-chat-room {
    font-family: Pretendard, sans-serif;
    width: 500px;
    height: 760px;
    background-color: #292834;
    color: #292834;
    border-radius: 22px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: end;


    .chating-list {
      padding: 15px 30px;
      // padding-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-bottom: 15px;
      overflow: auto;


      .chat-room-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;

      }

      .profile-img {
        background-image: url("../../../src_assets/IMG_4525.JPG");
        background-size: 42px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .mentee-nick-name {
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
      }

      .mentee-msg-content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #888;
      }

      .mentee-date {
        font-size: 12px;
        color: #888;
        margin-right: 10px;
      }

      .chatroom-delbtn {
        background-color: transparent;
        border: none;
        color: #888;
        font-size: 12px;

        cursor: pointer;
      }


      .sender-wrapper {
        width: 100%;
        margin-bottom: 13px;
        font-size: 15px;
        display: flex;
        flex-direction: column;

        .sender {
          color: white;
          margin-bottom: 3px;
          align-self: flex-end;
        }

        .sender-content {
          max-width: 60%;
          margin-left: auto;
          width: fit-content;
          padding: 5px 12px;
          font-size: 16px;
          line-height: 1.3;
          background-color: #ffe06b;
          border-radius: 5px;
        }
      }

      .receiver-wrapper {
        width: 100%;
        margin-bottom: 10px;
        font-size: 15px;
        display: flex;
        flex-direction: column;

        .receiver {
          color: white;
          margin-bottom: 3px;
        }

        .receiver-content {
          width: fit-content;
          padding: 5px 12px;
          font-size: 16px;
          line-height: 1.3;
          background-color: white;
          border-radius: 5px;
        }
      }
    }

    .input-section {
      width: 100%;
      background-color: #e6e6e6;
      padding: 15px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom-left-radius: 22px;
      border-bottom-right-radius: 22px;


      .text-input {
        padding: 10px;
        border: none;
        resize: none;
        background-color: #e6e6e6;
        width: 85%;
        height: 70px;
        outline-color: #c0c0c0;
      }

      .send-btn {
        border: none;
        width: 12%;
        border-radius: 10px;
        //padding: 28px 10px;
        height: 70px;
        background-color: white;
        font-size: 13.5px;
      }

      .send-btn:hover {
        transition: 0.5s;
        background-color: #1e4fff;
        color: white;
      }
    }
  }
}

