@mixin content-center {
  display: flex;
  justify-content: center;
}

.mentors-top-wrapper {
  padding: 160px 370px 0;
  display: flex;
  flex-direction: column;
  //height: 100vh;

  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .sub-title {
    margin-top: 10px;
    font-size: 14px;
  }

  .mentors-medium-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .mentors-sort-list {
      padding: 7.5px 10.5px;
      margin-top: 25px;
      @include content-center;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 50px;

      //정렬 버튼
      .sort-title {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 600;
      }

      .sort-front,
      .sort-back,
      .sort-employee,
      .sort-etc,
      .selected{

        margin-right: 10px;
        width: 90px;
        height: 25px;
        font-size: 12px;
        border: none;
        //padding: 6px 35px;
        border-radius: 50px;
        cursor: pointer;
      }
      //선택 비활성화
      .sort-front,
      .sort-back,
      .sort-employee,
      .sort-etc{
        background-color: #e4e9fb;
      }

      //선택 활성화
      .selected {
      background-color: #1e4fff;
        color: white;
      }

      .sort-etc {
        margin: 0;
      }
    }

    .mentors-write-btn {
      padding: 13px 21px;
      background-color: #292834;
      color: white;
      border-radius: 6px;
      text-decoration: none;
      font-size: 14px;
    }

    .mentors-write-btn:hover {
      background-color: #1e4fff;
      transition: 0.3s;
      box-shadow: 0px 0px 3px 3px rgba(118, 152, 255, 0.3);
    }
  }

}

@media (max-width: 1024px) {
  .mentors-top-wrapper{
    padding: 130px 100px 0;
  }

  .mentors-top-wrapper .mentors-medium-wrapper .mentors-write-btn{
    padding: 10px 17px;
  }

  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-front,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-back,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-employee,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-etc,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .selected{
    width: 80px;
    height: 20px;
    font-size: 10.5px;
  }
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-title{
    font-size: 11.5px;
  }

  .mentors-top-wrapper .main-title{
    font-size: 38px;
  }
  .mentors-top-wrapper .sub-title{
    margin-top: 5px;
    font-size: 14px;
  }
}







@media (max-width: 414px) {

  .mentors-top-wrapper{
    padding: 80px 50px 0;
  }
  .mentors-top-wrapper .mentors-medium-wrapper {
    flex-direction: column;
  }

  .mentors-top-wrapper .mentors-medium-wrapper .mentors-write-btn{
    padding: 3px 5px;
    font-size: 5px;
    margin: 20px auto 0;
  }
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list {
    padding: 4.5px 6.5px;
    margin-top: 12px;
  }
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-front,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-back,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-employee,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-etc,
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .selected{
    text-align: center;
    width: 58px;
    height: 15px;
    font-size: 3px;
  }
  .mentors-top-wrapper .mentors-medium-wrapper .mentors-sort-list .sort-title{
    font-size: 5.5px;
  }

  .mentors-top-wrapper .main-title{
    font-size: 25px;
  }
  .mentors-top-wrapper .sub-title{
    margin-top: 3px;
    font-size: 8px;
  }

}