.common{
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
  font-family: Pretendard, sans-serif;
  background-color: #fafafa;
  color: #292834;
  line-height: 1.5;
}