.footer-wrapper{
  //position: ;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-top: 1px solid #e6e6f0;
  background-color: #fafafa;

  .copyright{
    white-space: pre-line;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
  }
}