@mixin content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-background {
  width: 1920px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: absolute;
  z-index: 10;

  .header-wrapper{
    z-index: 10;
    @include content-center;
    height: 80px;
    border-bottom: solid 1px #e6e6f0;
    padding: 0 370px;
  }

  .logo {
    width: 72px;
  }

  //카테고리 영역
  .category-wrapper {
    @include content-center;
    height: 80px;
    text-align: center;
  }
  .category-wrapper li{
    @include content-center;
    height: 80px;
    width: 104px;
    text-decoration: none;
    color: #292834;
    font-size: 15px;
  }


  //로그인 영역
  .login-wrapper{
    margin-left: auto;
    display: flex;
    align-items: center;

    .logout{
      margin-right: 20px;
      font-size: 15px;
      font-weight: 400;
      cursor: pointer;
    }
    .myPage{
      //width: 30px;
      //height: 30px;

      .profile-img{
        width: 45px;
        height: 45px;
        border-radius: 100px;
      }
    }
    .login,
    .sign-in{
      text-decoration: none;
      padding: 8px 21px;
      font-size: 14px;
      border-radius: 50px;
    }
    .login{
      background: #d9d9d9;
      color:#292834;
      margin-right: 8px;
    }
    .sign-in{
      background: #1e4fff;
      color: white;
    }
  }



  //네비 바
  .navigation-bar{
    width: 100%;
    background-color: #fafafa;
    position: absolute;
    z-index: 999;
    top: 80px;
    display: flex;
    font-size: 14px;
    padding: 0 440px;
    opacity: 0;
    visibility: hidden;
  }

  .navigation-bar.animating {
    opacity: 1;
    visibility: visible;
  }

  .navigation-bar ul{
    text-align: center;
    margin: 20px 0;
    border-right: solid 1px #e6e6f0;
  }

  .navigation-bar ul li a{
    @include content-center;
    text-align: center;
    width: 104px;
    padding: 10px 0;
    text-decoration: none;
    color: #292834;
    animation: slide-in 0.3s ease;

  }
  .navigation-bar ul li a:hover{
    color: #1e4fff;
    font-weight: 600;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}
