@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

@mixin content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wrapper {
  //background-color: black;
  height: 100vh;
  color: white;
  white-space: pre-line;
  flex-direction: column;
  //padding: 0px 300px;
  text-align: center;
  position: relative;
  @include content-center;
  background-image: url("../../../src_assets/main-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 80px;

  .input-font {
    margin-top: 80px;
    height: 120px;
    line-height: 70px;
    font-size: 60px;
    font-family: 'IBM Plex Mono', sans-serif !important;
  }

  .sub-title {
    font-size: 15px;
    margin-top: 30px;
    line-height: 24px;
  }

  //화살표 나오는 영역
  .show-arrow-wrapper {
    animation: blink-effect 2s ease-in-out infinite;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
    @include content-center;
    flex-direction: column;
  }

  @keyframes blink-effect {
    50% {
      opacity: 0.5;
    }
  }

  .arrow-text {
    font-size: 14px;
    color: rgb(230, 230, 230);
    margin-bottom: 10px;
  }

  .arrow-icon {
    //width: 50px;
    //height: 50px;
    //border-radius: 50px;
    //background: white;
    color: rgb(230, 230, 230);
    font-size: 16px;
    font-weight: lighter;
  }
}

//추가 설명 영역
#add-info-wrapper {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  padding-bottom: 150px;

  //메인 영역
  .add-main {
    @include content-center;
    flex-direction: column;

    .logo {
      margin-top: 150px;
      width: 60px;
    }

    .main-text {
      margin-top: 40px;
      text-align: center;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.6;


      .highlight {
        color: #1E4FFF;
        font-weight: 700;
      }
    }
  }

  //멘토 멘티 영역
  .add-mentor {
    @include content-center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;

    .img-wrapper {
      position: relative;

      .mentorMain {
        position: relative;
        opacity: 0;
        left: 25px;
      }

      .mentorChat {
        position: relative;
        opacity: 0;
        right: 25px;
        top: 30px;
      }
    }
  }

  //프로젝트 영역
  .add-project {
    @include content-center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;

    .text-wrapper {
      @include content-center;
      flex-direction: column;
    }

    .img-wrapper {
      display: flex;
      align-items: center;

      .projectMain,
      .projectDetail {
        width: 350px;
        opacity: 0;
      }

      .arrowDetail {
        margin: 0 20px;
        width: 40px;
        //font-size: 30px;
        opacity: 0;
        color: white;
        font-weight: 200;
      }
    }
  }

  //취업후기, 채용공고 영역
  .add-company {
    @include content-center;
    background-color: white;
    padding: 100px 0;
    //flex-direction: column;
    margin-top: 150px;

    .main-title {
      color: #292834;
    }

    .review-wrapper {
      margin-right: 50px;
    }

    .text-wrapper {
      display: flex;
      align-items: start;
      flex-direction: column;
    }

    .review,
    .company {
      width: 500px;
    }
  }

  //qna 영역
  .add-qna {
    @include content-center;
    margin-top: 150px;

    .text-wrapper {
      display: flex;
      align-items: start;
      flex-direction: column;
      margin-right: 60px;
      margin-bottom: 80px;
    }
  }


  //공통 영역
  .number {
    color: #1E4FFF;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 100px;
    font-weight: 200;
    line-height: 1.1;
  }

  .main-title {
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 10px;
  }

  .sub-text {
    font-size: 17px;
    margin-bottom: 35px;
  }

  .sub-text-small {
    //font-size: 15px;
    margin-bottom: 25px;
    color: #292834;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInCenterAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.go-top-btn {
  position: fixed;
  bottom: 30px;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 90;

  .top-arrow {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
}


@media (max-width: 1024px) {
  .top-wrapper {
    background-image: url("../../../src_assets/main-background.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position-y: 70px;
  }

  #add-info-wrapper {
    .add-main {
      .logo {
        margin-top: 120px;
        width: 50px;
      }

      .main-text {
        font-size: 18px;
      }
    }
  }


  //공통 영역
  #add-info-wrapper .number {
    font-size: 90px;
  }

  #add-info-wrapper .main-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #add-info-wrapper .sub-text {
    font-size: 15px;
    margin-bottom: 35px;
  }

  #add-info-wrapper .add-project .img-wrapper .projectDetail,
  #add-info-wrapper .add-project .img-wrapper .projectMain {
    width: 280px;
  }

  #add-info-wrapper .sub-text-small {
    font-size: 14px;
  }

  #add-info-wrapper .add-company .review,
  #add-info-wrapper .add-company .company{
    width: 370px;
  }

  .mentorMain,
  .mentorChat {
    width: 330px;
  }
.qna{
  width: 400px;
}

}
@media (max-width: 414px) {

  .top-wrapper {
    background-image: url("../../../src_assets/main-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 10px;
  }

  .top-wrapper .input-font {
    margin-top: 50px;
    height: 100px;
    line-height: 70px;
    font-size: 40px;
    font-family: "IBM Plex Mono", sans-serif !important;
  }
  .top-wrapper .arrow-text {
    font-size: 12px;
    margin-bottom: 9px;
  }

}