.board-list {
  background-color: #fafafa;
  border-bottom: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;

  div {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  .board-type {
    width: 15%;
    text-align: center;
  }

  .board-title {
    width: 70%;
    font-weight: 700;
    margin-left: 10px;
  }

  .board-title > a {
    padding: 15px;
  }

  .board-title > a:hover {
    color: #1E4FFF;
  }

  .board-date {
    width: 15%;
    text-align: center;
  }
}

