@mixin content-center {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #282c34;
}

.mypage-top-wrapper {
  padding: 160px 370px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 16px;

  .mypage-info-wrapper {
    background-color: #E8EDFF;
    width: 270px;
    padding: 10px;
    border: solid 1px #e6e6e6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    display: flex;
    left: -1px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    div {
      padding: 15px 13px;
    }

    .profile-img {
      width: 180px;
    }

    .profile-img img {
      position: relative;
      width: 100%;
    }

    .text-box {
      width: 90%;
      display: flex;
      align-items: center;
    }

    .info-category {
      padding: 8px;
      font-weight: 700;
      background: #446DFE;
      color: #fff;
      border-radius: 5px;
      margin-right: 10px;
    }

    .nickname {
      display: inline-block;
      font-size: 1.2em;
      color: #1E4FFF;
      border: 0;
    }

    .bold-text {
      font-weight: 700;
    }

    .career {
      border: 0;
    }
  }

  .mypage-content-wrapper {

    width: 100%;
    background-color: #446dfe;

    .mypage-sub-title {
      font-size: 1.4em;
      font-weight: 700;
      margin: 40px 0;
    }

  }


  .main-title {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
    font-family: 'IBM Plex Mono', sans-serif !important;
    font-size: 43.2px;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin-bottom: 50px;
  }

}
