
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap');

@mixin content-center {
  display: flex;
  justify-content: center;
}

.company-top-wrapper {
  width: 100%;
  padding: 160px 370px 0;

  .title-wrapper {
    .main-title {
      font-family: 'IBM Plex Mono', sans-serif !important;
      font-size: 43.2px;
      font-weight: 500;
      letter-spacing: -1.5px;
    }

    .main-sub-title {
      font-size: 16px;
      margin-top: 10px;
      line-height: 1.2;
    }
  }

  .select-view-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .frontend-filter,
  .backend-filter,
  .total-filter {
    //이미지 찾아서 변경하기
    background-color: #292834;
    width: 23%;
    margin-right: 10px;
    height: 90px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    //타이틀 부분
    .frontend-title,
    .backend-title,
    .total-title {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      color: white;

      .title-text {
        font-size: 20px;
      }

      .title-add {
        font-size: 14px;
      }

      .selected{
        font-weight: 700;
      }
    }

    .frontend-count,
    .backend-count,
    .total-count {
      font-size: 45px;
      font-weight: 200;
      color: white;
      font-family: 'IBM Plex Mono', sans-serif;
    }
    .total-count{
      color: #292834;
    }
  }
  .total-filter {
    background-color: white;
    .total-title{
      color: #292834;
    }
  }

  //검색영역
  .search-container {
    display: flex;
    align-items: end;

    .search-wrapper {
      margin-top: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      //background-color: #f0f0f0;
      //padding: 0 5px 0 10px;
      border-radius: 6px;

      .search-input {
        background-color: white;
        padding: 5px 10px;
        border: 0.5px solid #828282;
        display: flex;
        align-items: center;

        .input-btn {
          width: 200px;
          //border-radius: 5px;
          //padding: 10px 10px;
          border: none;
          //background-color: white;

          outline: none;


        }

        .input-btn::placeholder {
          text-align: left;
        }

        .search-icon {
          margin-right: 5px;
          width: 14px;
        }
      }
    }
    .select-wrapper{
      margin-left: 5px;
      display: flex;
      flex-direction: column;

      .select-career{
        padding: 5px 0px;
        width: 90px;
        height: 35px;
      }
    }

    .reset-btn {
      //background-color: white;
      margin-left: 5px;
      padding: 7px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      //border: none;
      //border-radius: 5px;
      background-color: #e6e6e6;
      color: white;
      font-size: 14px;
      border: 0.5px solid #e6e6e6;
      cursor: pointer;
    }

  }
}

.search-title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .company-top-wrapper{
    padding: 130px 100px 30px;
  }

  .company-top-wrapper .title-wrapper .main-title{
    font-size: 38px;
  }
  .company-top-wrapper .title-wrapper .main-sub-title{
    font-size: 14px;
    margin-top: 5px;
  }

  .company-top-wrapper .frontend-filter .frontend-title .title-text,
  .company-top-wrapper .frontend-filter .backend-title .title-text,
  .company-top-wrapper .frontend-filter .total-title .title-text, .company-top-wrapper .backend-filter .frontend-title .title-text, .company-top-wrapper .backend-filter .backend-title .title-text, .company-top-wrapper .backend-filter .total-title .title-text, .company-top-wrapper .total-filter .frontend-title .title-text, .company-top-wrapper .total-filter .backend-title .title-text, .company-top-wrapper .total-filter .total-title .title-text{
    font-size: 18px;
  }

  .company-top-wrapper .frontend-filter .frontend-title .title-add,
  .company-top-wrapper .frontend-filter .backend-title .title-add,
  .company-top-wrapper .frontend-filter .total-title .title-add,
  .company-top-wrapper .backend-filter .frontend-title .title-add,
  .company-top-wrapper .backend-filter .backend-title .title-add,
  .company-top-wrapper .backend-filter .total-title .title-add,
  .company-top-wrapper .total-filter .frontend-title .title-add,
  .company-top-wrapper .total-filter .backend-title .title-add,
  .company-top-wrapper .total-filter .total-title .title-add{
    font-size: 12px;
  }

  .company-top-wrapper .frontend-filter .frontend-count,
  .company-top-wrapper .frontend-filter .backend-count,
  .company-top-wrapper .frontend-filter .total-count,
  .company-top-wrapper .backend-filter .frontend-count,
  .company-top-wrapper .backend-filter .backend-count,
  .company-top-wrapper .backend-filter .total-count,
  .company-top-wrapper .total-filter .frontend-count,
  .company-top-wrapper .total-filter .backend-count,
  .company-top-wrapper .total-filter .total-count{
    font-size: 40px;
  }

  .company-top-wrapper .frontend-filter,
  .company-top-wrapper .backend-filter,
  .company-top-wrapper .total-filter{
    padding: 15px 15px;
    width: 28%;
    height: 80px;
  }

  .company-top-wrapper .search-container .search-wrapper .search-input .input-btn{
    width: 170px;
    font-size: 13px;
  }

  .company-top-wrapper .search-container .search-wrapper .search-input{
    padding: 3px 10px;
  }

  .company-top-wrapper .search-container .select-wrapper .select-career{
    height: 29.5px;
    font-size: 13px;
  }
  .company-top-wrapper .search-container .reset-btn{
    padding: 7.5px 6px;
  }
}

@media (max-width: 414px) {
  .company-top-wrapper .select-view-wrapper{
    display: flex;
    flex-direction: column;
  }

  .company-top-wrapper{
    padding: 130px 30px 30px;
  }

  .company-top-wrapper .frontend-filter,
  .company-top-wrapper .backend-filter,
  .company-top-wrapper .total-filter{
    width: 100%;
    margin-bottom: 7px;
  }
  .company-top-wrapper .search-container .select-wrapper .select-career{
    height: 29.5px;
  }
  .company-top-wrapper .search-container .reset-btn{
    padding: 7px;
  }
  .company-top-wrapper .search-container{
    justify-content: start;
  }
}